.home {
    display: flex;

    &__container {
        flex: 6;

        &__content, &__charts {
            display: flex;
            padding: 20px;
            gap: 20px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                max-width: 80vw;
                padding: 20px 10px;
            }
        }

        &__charts {
            padding: 5px 20px;

            @media screen and (max-width: 768px) {
                padding: 10px 10px;
            }
        }

        &__list {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            &__header {
                font-weight: 500;
                color: #808080;
                margin-bottom: 15px;
            }

            @media screen and (max-width: 768px) {
                width: 75vw;
            }
        }
    }

    .mobile-menu {
        display: none;

        @media screen and (max-width: 768px) {
            display: inline;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 15px;
        }
    }
}