.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            width: 100px;
            height: 100px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__input {
            width: 200px;
            height: 30px;
            margin: 10px;
        }

        &__btn {
            width: 200px;
            height: 30px;
            margin-bottom: 10px;
            border: none;
            background-color: #000d80;
            color: #ffffff;
            font-weight: bold;
            cursor: pointer;
        }

        &__error {
            font-size: 12px;
            color: #ff0000;
            margin-top: 10px;
        }
    }
}
