* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.home {
  display: flex;
}
.home__container {
  flex: 6;
}
.home__container__content, .home__container__charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.home__container__charts {
  padding: 5px 20px;
}
.home__container__list {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}
.home__container__list__header {
  font-weight: 500;
  color: #808080;
  margin-bottom: 15px;
}

.list {
  display: flex;
  width: 100%;
}
.list__container {
  flex: 6;
}

.single {
  display: flex;
  width: 100%;
}
.single__container {
  flex: 6;
}
.single__container__top {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.single__container__top .left {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  position: relative;
}
.single__container__top .left .editButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  color: #7451f8;
  background-color: rgba(117, 81, 248, 0.0941176471);
  cursor: pointer;
  border-radius: 0px 0px 0px 5px;
}
.single__container__top .left .item {
  display: flex;
  gap: 20px;
}
.single__container__top .left .item .itemImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.single__container__top .left .item .details .itemTitle {
  margin-bottom: 10px;
  color: #555;
}
.single__container__top .left .item .details .detailItem {
  margin-bottom: 10px;
  font-size: 14px;
}
.single__container__top .left .item .details .detailItem .itemKey {
  font-weight: bold;
  color: #808080;
  margin-right: 5px;
}
.single__container__top .left .item .details .detailItem .itemValue {
  font-weight: 300;
}
.single__container__top .right {
  flex: 2;
}
.single__container__bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 10px 20px;
}
.single__container .title {
  font-size: 16px;
  color: #d3d3d3;
  margin-bottom: 20px;
}

.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}
.navbar__container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__container__search {
  display: flex;
  align-items: center;
  border: 0.5px solid #d3d3d3;
  padding: 3px;
}
.navbar__container__search input {
  border: none;
  outline: none;
  background: transparent;
}
.navbar__container__search input::placeholder {
  font-size: 12px;
}
.navbar__menu {
  display: flex;
  align-items: center;
}
.navbar__menu-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
.navbar__menu-item .icon {
  font-size: 20px;
}
.navbar__menu-item .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.navbar__menu-item .counter {
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}

.sidebar {
  flex: 1;
  border-right: 0.5px solid #e6e6e6;
  min-height: 100vh;
}
.sidebar__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
}
.sidebar__body {
  display: flex;
  overflow-y: auto;
  padding-left: 10px;
}
.sidebar__body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar__body ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.sidebar__body ul li:hover {
  background-color: #f5f5f5;
}
.sidebar__body ul li .icon {
  font-size: 18px;
  color: #4478a3;
}
.sidebar__body ul li span {
  font-size: 13px;
  font-weight: 600;
  color: #888888;
  margin-left: 10px;
}
.sidebar__body ul .title {
  font-size: 10px;
  font-weight: bold;
  color: #999999;
  margin-top: 15px;
  margin-bottom: 5px;
}
.sidebar__footer {
  display: flex;
  align-items: center;
  margin: 10px;
}
.sidebar__footer .colorOption {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #4478a3;
  cursor: pointer;
  margin: 5px;
}
.sidebar__footer .colorOption:nth-child(1) {
  background-color: #f0f8ff;
}
.sidebar__footer .colorOption:nth-child(2) {
  background-color: #333333;
}
.sidebar__footer .colorOption:nth-child(3) {
  background-color: #00008b;
}

.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;
}
.widget .left,
.widget .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.widget .left .title,
.widget .right .title {
  font-weight: bold;
  font-size: 14px;
  color: #a0a0a0;
}
.widget .left .counter,
.widget .right .counter {
  font-size: 28px;
  font-weight: 300;
}
.widget .left .link,
.widget .right .link {
  width: max-content;
  font-size: 12px;
  border-bottom: 1px solid #808080;
  color: #808080;
  text-decoration: none;
}
.widget .left .percentage,
.widget .right .percentage {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.widget .left .percentage.positive,
.widget .right .percentage.positive {
  color: #008000;
}
.widget .left .percentage.negative,
.widget .right .percentage.negative {
  color: #ff0000;
}
.widget .left .icon,
.widget .right .icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
}

.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: #808080;
}
.chart .title {
  margin-bottom: 20px;
}
.chart .chartGrid {
  stroke: rgb(228, 225, 225);
}

.feature {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
}
.feature__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #808080;
}
.feature__top-title {
  font-size: 16px;
  font-weight: 500;
}
.feature__bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.feature__bottom-chart {
  width: 100px;
  height: 100px;
}
.feature__bottom-title {
  font-weight: 500;
  color: #808080;
}
.feature__bottom-amount {
  font-size: 30px;
}
.feature__bottom-desc {
  font-weight: 300;
  font-size: 12px;
  color: #808080;
  text-align: center;
}
.feature__bottom__summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature__bottom__summary-item {
  text-align: center;
}
.feature__bottom__summary-item--itemTitle {
  font-size: 14px;
  color: #808080;
}
.feature__bottom__summary-item--itemResult {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}
.feature__bottom__summary-item--itemResult.positive {
  color: #008000;
}
.feature__bottom__summary-item--itemResult.negative {
  color: #ff0000;
}

.table .cellWrapper {
  display: flex;
  align-items: center;
}
.table .cellWrapper .image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.table .status {
  padding: 5px;
  border-radius: 5px;
}
.table .status.Approved {
  color: #008000;
  background-color: rgba(0, 128, 0, 0.151);
}
.table .status.Pending {
  color: #daa520;
  background-color: rgba(189, 189, 3, 0.103);
}
.table .status.Cancelled {
  color: #dc143c;
  background-color: rgba(220, 20, 60, 0.174);
}

.datatable {
  height: 600px;
  padding: 20px;
}
.datatable .datatableTitle {
  width: 100%;
  font-size: 24px;
  color: #808080;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.datatable .datatableTitle .link {
  text-decoration: none;
  color: #008000;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #008000;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.datatable .cellWithImg {
  display: flex;
  align-items: center;
}
.datatable .cellWithImg .cellImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.datatable .cellWithStatus {
  padding: 5px;
  border-radius: 5px;
}
.datatable .cellWithStatus.active {
  background-color: rgba(0, 128, 0, 0.05);
  color: #008000;
}
.datatable .cellWithStatus.pending {
  background-color: rgba(255, 217, 0, 0.05);
  color: #daa520;
}
.datatable .cellWithStatus.cancel {
  background-color: rgba(255, 0, 0, 0.05);
  color: #dc143c;
}
.datatable .cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}
.datatable .cellAction .viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: #00008b;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}
.datatable .cellAction .deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: #dc143c;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
