.sidebar {
    flex: 1;
    border-right: 0.5px solid #e6e6e6;
    min-height: 100vh;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    &__body {
        display: flex;
        overflow-y: auto;
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #f5f5f5;
                }

                .icon {
                    font-size: 18px;
                    color: #7451f8;
                }

                span {
                    font-size: 13px;
                    font-weight: 600;
                    color: #888888;
                    margin-left: 10px;
                }
            }

            .title {
                font-size: 10px;
                font-weight: bold;
                color: #999999;
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: #f0f8ff;
            }
            &:nth-child(2) {
                background-color: #333333;
            }
            &:nth-child(3) {
                background-color: #00008b;
            }
        }
    }
}