.table {
    .cellWrapper {
        display: flex;
        align-items: center;

        .image {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .status {
        padding: 5px;
        border-radius: 5px;

        &.Approved {
            color: #008000;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.Pending {
            color: #daa520;
            background-color: rgba(189, 189, 3, 0.103);
        }
        &.Cancelled {
            color: #dc143c;
            background-color: rgba(220, 20, 60, 0.174);
        }
    }
}